.intro {
    display: block;
    width: 90%;
    height: 100%;
    padding: 0px 20px 0 20px;
    margin: 5em auto 20px auto;
    text-align: center;
    animation: fadeInUp 0.5s cubic-bezier(1, 0, 0, 1);
}

article h1::before {
    display: none;
}

section {
}

.container.flex {
    opacity: 0;
    transform: translateY(100px);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5px 40px 20px 40px;
}

.ltr {
    flex-direction: row-reverse;
    
}

.ltr .desc {
    padding-right: 2em;
    padding-left: 0;
}

.ltr .image {
    margin: 0 -5em 0 -14%;
}

.image {
    width: 50%;
    margin-right: -2em;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: scale(1.4);
}
.desc {
    width: 50%;
    padding-left: 4em;
}

.intro p {
    margin-bottom: 30px;
}

.mockup {
    margin: -7em 0 -2em 0;
}

@media (max-width: 968px) {
    .mockup {
        margin-top: -1em;
    }
    .container.flex {
        flex-direction: column;
        width: 90%;
    }
    .image {
        width: 100%;
        margin: 0;
    }
    .desc {
        width: 100%;
    }
    .image img {
        width: 90%;
    }
}

.light {
    width: 250px;
    height: 80px;
    font-size: 1.3rem !important;
    opacity: 0.5;
    animation: lighting 1.5s infinite;
    transition: box-shadow 1s ease;
}

.light i {
    font-size: 1.8rem !important;
}

.light:hover {
    box-shadow: 0px 0px 20px var(--primary-color);
}

.light:active {
    box-shadow: 0px 0px 30px var(--primary-color)
}

@keyframes lighting {
    0% {
        opacity: 0.5;
        background-image: linear-gradient(to right, #f0f0f0, #d0d0d0);
    }
    50% {
        opacity: 1;
        background-image: linear-gradient(to right, #ffffff, #e0e0e0);
    }
    100% {
        opacity: 0.5;
        background-image: linear-gradient(to right, #f0f0f0, #d0d0d0);
    }
}